<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Reports.Properties.Settings.employeesConnectionString"
            connectionString="Dsn=myconnection;uid=root;server={kevin-PC};database=employees;port=3306"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>